# Deployment utilities
bin/priv/

# roughViz library - build it from https://github.com/benjaminion/roughViz
src/charts/roughviz.min.js

# svg-text-to-path library - get it from https://github.com/paulzi/svg-text-to-path/tree/master/dist
src/charts/svg-text-to-path.js

# Files generated during the build process
src/md/pages/
src/md/annotated.md
index.json

# Junk
node_modules/
.cache/
public/
tmp/

# IntelliJ configs
.idea/
*.iml
