# Deployment utilities
bin/priv/

# roughViz library - build it from https://github.com/benjaminion/roughViz
src/charts/roughviz.min.js

# svg-text-to-path library - get it from https://github.com/paulzi/svg-text-to-path/tree/master/dist
src/charts/svg-text-to-path.js

# Download and unpack the font file from https://fonts.google.com/specimen/Gaegu
src/charts/font/*

# Files generated during the build process (possibly legacy)
src/md/pages/
src/md/annotated.md

# Optimised SVG cache
.svg_cache

# Junk
tmp/
test*
*.pdf

# IntelliJ configs
.idea/
*.iml

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
