@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('cmuntt-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('cmuntb-webfont.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('cmunit-webfont.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('cmuntx-webfont.woff');
  font-weight: bold;
  font-style: italic;
}
