@font-face {
  font-family: 'Computer Modern Serif';
  src: url('cmunrm-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('cmunbx-webfont.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('cmunti-webfont.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('cmunbi-webfont.woff');
  font-weight: bold;
  font-style: italic;
}
