footer {
  font-size: 85%;
  border-top: solid 1px #999;
  padding-top: 1ex;
  margin-top: 10ex;
  width: 100%;
}

footer a.githash {
  font-family: "Computer Modern Typewriter", monospace;
}

footer a[rel*="external"]::after {
  content: "";
}
