nav.sidebar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 298px;
  /* width: calc(50% - 426px); */
  /* min-width: 298px; */
  height: 100%;
  padding-left: calc(50% - 724px);
  margin: 0px;
  overflow-y: auto;
  background: rgb(245, 247, 249);
  border-right: 1px solid rgb(230, 236, 241);
  text-align: center;
}

nav.sidebar #index {
  padding-left: 0px;
  text-align: left;
}

nav.sidebar #index .index-item {
  padding: 3px 0px;
  text-indent: -2.5em;
  
}

nav.sidebar #index,
nav.sidebar #index a:hover {
  text-decoration: none;
  
}

nav.sidebar #index .index-indent-0 {
  padding-left: 2.5em;
  font-weight: bold;
}

nav.sidebar #index .index-indent-1 {
  padding-left: 3.5em;
  font-weight: normal;
}

nav.sidebar #index .index-indent-2 {
  padding-left: 4.5em;
  font-weight: normal;
}

nav.sidebar #index .index-active {
  color: black;
}

nav.sidebar div.sidebar-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}

nav.sidebar div.sidebar-title a:hover {
  text-decoration: none;
}
