nav.sidebar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 298px;
  /* width: calc(50% - 426px); */
  /* min-width: 298px; */
  height: 100%;
  padding-left: calc(50% - 724px);
  margin: 0px;
  overflow-y: auto;
  background: rgb(245, 247, 249);
  border-right: 1px solid rgb(230, 236, 241);
  text-align: center;
}

#index {
  margin: 0 1em;
  text-align: left;
}

#index li {
  text-indent: -1em;
  list-style-type: none;
  padding: 3px 0;
}

#index,
#index a:hover {
  text-decoration: none;
}

#index ul {
  padding-left: 1em;
}

#index > ul > li {
  padding-top: 1ex;
  font-weight: bold;
}

#index > ul > li .index-string {
  display: none;
}

#index a.index-active {
  color: black;
}

nav.sidebar div.sidebar-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}

nav.sidebar div.sidebar-title a:hover {
  text-decoration: none;
}
