@media print {
  #banner {
    display: none;
  }
}

#banner {
  position: sticky;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5ex 0;
  width: 100%;
  background: #505;
  text-align: center;
  z-index: 999;
}

#banner p {
  color: #fff;
  margin: 0;
}

#banner p a {
  color: inherit;
  text-decoration: underline;
}
