:root {
  --sidebar-width: 20vw;
  --content-width: 50vw;
  --navi-width: 20vw;
  --max-page-width: 1920px;

  /* Dark mode transition */
  --transition: 0.5s ease 0s;
}

.scrollable {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: none;
  /* Thin scrollbars on FireFox (seems to be default on Linux, but not Windows) */
  scrollbar-width: thin;
}

/*** Thin scrollbars on Chrome ***/
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
