:root {
  --sidebar-width: 20vw;
  --sidebar-max-width: 400px;
  --sidebar-min-width: 240px;
  --main-width: 50vw;
  --main-max-width: 1200px;
  --main-min-width: 800px;

  /* Dark mode transition */
  --duration: 0.4s;
  --timing: ease;
}

.scrollable {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}
