:root {
  --sidebar-width: 20vw;
  --sidebar-max-width: 400px;
  --sidebar-min-width: 240px;
  --main-width: 50vw;
  --main-max-width: 1200px;
  --main-min-width: 800px;
}

body {
  --background: #fff;
  --foreground: #000;
  --link-colour: #0366d6;
  --fn-tt-foreground: #000;
  --fn-tt-background: #ddd;
  --table-border: #999;
  --th-background: #999;
  --th-border: #ccc;
  --th-colour: #fff;
  --sidebar-background: #f3f5f6;
  --sidebar-foreground: #000;
  --pagenavi-link: #666;
  --pagenavi-link-hover: #333;
}

body.dark {
  --background: #111;
  --foreground: #eee;
  --link-colour: #9cf;
  --fn-tt-foreground: #eee;
  --fn-tt-background: #333;
  --th-background: #444;
  --th-border: #999;
  --sidebar-background: #222;
  --sidebar-foreground: #ccc;
  --pagenavi-link: #ccc;
  --pagenavi-link-hover: #fff;
}
