@import "custom.css";

sup[id^='fnref-'] {
  position: relative;
  display: inline;
}

.fn-span {
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  position: absolute;
  top: 30px;
  color: var(--fn-tt-foreground);
  background: var(--fn-tt-background);;
  border-radius: 6px;
  padding: 5px 10px;
  width: calc(var(--content-width) / 3);
  white-space: normal;
  text-align: left;
  opacity: 0;
  transition: opacity 0.8s;
}

sup[id^='fnref-']:hover span.fn-span {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

@media print {
  .fn-span {
    display: none;
  }
}
