@import "custom.css";

#page-navi {
  display: inline-block;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 1em 0 2em;
  margin: 0px;
  font-size: 80%;
}

#page-navi a {
  color: var(--pagenavi-link);
  transition: color var(--duration) var(--timing)
}

#page-navi a:hover {
  text-decoration: none;
  color: var(--pagenavi-link-hover);
}

#page-navi ul {
  padding-left: 1em;
}

#page-navi li {
  list-style-type: none;
  padding-bottom: 3px;
  font-weight: normal;
}

#page-navi > ul > li {
  padding-top: 1ex;
  font-weight: bold;
}

@media print {
  #page-navi {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #page-navi {
    display: none;
  }
}
