.prevnext {
  width: 100%;
  margin: 0;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}

.prevnext span {
  display: flex;
}

.prevnext span.prev {
  justify-content: flex-start;
}

.prevnext span.next {
  justify-content: flex-end;
}

.prevnext span.contents {
  display: none;
}

@media print {
  .prevnext {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .prevnext span.contents {
    display: flex;
    justify-content: center;
  }
}
