@import "custom.css";

#search-parameters {
  margin-bottom: 2rem;
}

#search-parameters input#search-text {
  background-color: var(--background);
  color: var(--foreground);
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 50%;
}

#search-parameters input#search-text:focus {
  outline: none;
}

#search-parameters span#checkbox {
  margin: 12px;
}

#search-parameters span#checkbox label {
  padding-left: 0.2rem;
  font-family: sans-serif;
  font-size: 1rem;
}

#search-parameters input#is-case-sensitive {
  width:1rem;
  height:1rem;
}

#search-results ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

#search-results ul li ul{
  padding-left: 0.5rem;
}

#search-results ul li ul li{
  margin: 0.8rem 0;
  padding: 0.5rem;
  background: var(--search-chunk-background);
  border-radius: 0.75rem;
}

#search-results a.label {
  display: block;
  font-family: sans-serif;
  font-size: 0.9rem;
}

#search-results span.chunk-text.pre {
  white-space: pre;
  font-family: monospace;
  font-size: 80%;
}

#search-results > ul li {
  padding-bottom: 1ex;
}

#search-results > ul li:last-child {
  margin-bottom: 1ex;
}

#search-results span.match-text {
  background-color: var(--search-text-highlight);
}
